#change-password-modal.modal
  .modal-background
  .modal-content
    .box
      .form-header-icon.has-text-centered
        %span
          %i.fa.fa-exclamation-circle.has-text-grey-lighter.fa-3x{ "aria-hidden" => "true" }

      #change-password-form-errors.level

      = form_tag(users_me_change_password_path, remote: true) do
        .field
          %p.control.has-icons-left
            %input.input.is-medium{ placeholder: "Current Password", type: "password", name: 'current_password' }
            %span.icon.is-small.is-left
              %i.fa.fa-lock
        .field
          %p.control.has-icons-left
            %input.input.is-medium{ placeholder: "New Password", type: "password", name: 'new_password' }
            %span.icon.is-small.is-left
              %i.fa.fa-lock
        .field
          %p.control.has-icons-left
            %input.input.is-medium{ placeholder: "Retype New Password", type: "password", name: 'password_confirmation'}
            %span.icon.is-small.is-left
              %i.fa.fa-lock
        .field
          %p.control.has-text-right
            = submit_tag "Change Password", class: "button is-danger is-medium"

  %button.modal-close.is-medium{ 'aria-label' => "close" }
