#change-password-modal.modal
  .modal-background
  .modal-content
    .box
      .form-header-icon.has-text-centered
        %span
          %i.fa.fa-exclamation-circle.has-text-grey-lighter.fa-3x{ "aria-hidden" => "true" }
      .field
        %p.control.has-icons-left
          %input.input.is-medium{ placeholder: "Current Password", type: "password", name: 'password' }
          %span.icon.is-small.is-left
            %i.fa.fa-lock
      .field
        %p.control.has-icons-left
          %input.input.is-medium{ placeholder: "New Password", type: "password", name: 'password_confirmation'}
          %span.icon.is-small.is-left
            %i.fa.fa-lock
      .field
        %p.control.has-icons-left
          %input.input.is-medium{ placeholder: "Retype New Password", type: "password", name: 'password_confirmation'}
          %span.icon.is-small.is-left
            %i.fa.fa-lock
      .field
        %p.control.has-text-right
          %button.button.is-success.is-medium
            Change Password

  %button.modal-close.is-medium{ 'aria-label' => "close" }
