#reset-password-modal.modal
  .modal-background
  .modal-content
    .box
      .form-header-icon.has-text-centered
        %span
          %i.fa.fa-exclamation-circle.has-text-grey-lighter.fa-3x{ "aria-hidden" => "true" }

      #reset-password-form-errors.level

      = form_tag(reset_password_users_path, remote: true) do
        .field
          %p.control.has-icons-left.has-icons-right
            %input.input.is-medium{ placeholder: "Email", type: "email", name: 'email' }
            %span.icon.is-small.is-left
              %i.fa.fa-envelope
            %span.icon.is-small.is-right
              %i.fa.fa-check
        .field
          %p.control.has-text-right
            = submit_tag "Reset Password", class: "button is-warning is-medium"

  %button.modal-close.is-medium{ 'aria-label' => "close" }
