- destroyable = page == 'users'

%table.table.is-fullwidth.card
  %thead
    %tr
      %th ID
      %th Name
      %th Description
      %th Visible?
      - if destroyable
        %th
      - else
        %th User Name
  %tbody
    - if @widgets.blank?
      %tr
        %td{ colspan: 5 }
          .title.has-text-grey.has-text-centered
            No Widgets Found

    - @widgets.each do |widget|
      %tr
        %td=widget['id']
        %td=widget['name']
        %td=widget['description']
        %td=widget['kind'] == 'visible' ? 'YES' : 'NO'
        - if destroyable
          %td= link_to 'Delete', widget_path(widget['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-danger'
        - else
          %td= link_to widget['user']['name'], user_path(widget['user']['id']), target: :_blank
