.level.has-text-right
  .level-left
    %a.button.is-small.is-warning.modal-trigger-button{ 'data-target': "widget-form-modal" }
      %strong Create Widget
    = render 'form'

  .level-right
    = form_tag("/users/me/widgets", method: 'get', remote: true) do
      .field.has-addons.level-item
        .control
          %input.input{ placeholder: "Type Widget Name", type: 'text', name: 'q' }
        .control
          = submit_tag "Search", class: "button is-warning"

#widgets-list
  = render 'widgets', page: 'users'