!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %title Widgets API
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.has-navbar-fixed-top
    %nav.navbar.is-fixed-top.is-light{"aria-label": "main navigation",  role: "navigation"}
      .navbar-brand
        %a.navbar-item{ href: "/"}
          %span.is-size-4.has-text-weight-bold WIDGETS
        %a.navbar-burger.burger{ "aria-expanded": "false", "aria-label": "menu", "data-target": "navbar-home",  role: "button" }
          %span{ "aria-hidden": "true" }
          %span{ "aria-hidden": "true" }
          %span{ "aria-hidden": "true" }
      #navbar-home.navbar-menu
        .navbar-start
          %a.navbar-item
            Home
          %a.navbar-item
            Documentation
        .navbar-end
          .navbar-item
            .buttons
              %a.button.is-small.is-primary
                %strong Sign up
              %a.button.is-small.is-info
                %strong Log in
    %section.section
      .container
        = yield

